@import "../index.css";

.nav-link {
    /* color: #212529; */
    color: var(--purple);
}

.nav-link:hover {
    color: #dc3545;
}

.nav-tabs .nav-link.active {
    color: #dc3545;
}

.nav-tabs .nav-link.active:hover {
    /* color: #212529; */
    color: var(--purple);

}


