@import '../global.css';

.MainContainer {
    display: flex;
    margin-left: .5rem;
}

.AccordionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.DescriptionContainer {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-grow: 1;
    flex-wrap: wrap;
}

.DateContainer {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-grow: 1;
    flex-wrap: wrap;
}

.FloatingLabel {
    display: 1;
    flex-grow: 1;
    min-width: 25vw;
}

fieldset {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}