@import '../../global.css';

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    width: 90%;
    background-color: #fff;
}

.modal_header, .modal_footer {
    padding: 10px;
}

.modal_footer {
    display: flex;
    justify-content: flex-end;
}

.modal_body form {
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    flex-wrap: wrap;
}

.NameFloatingLabel {
    flex-grow: 1;
    flex: 3;
    min-width: 300px;
}

.QuantityFloatingLabel {
    flex-grow: 1;
    flex: 1;
    min-width: 150px;
}