:root {
    --theme-danger: #dc3545;
    --theme-dark-danger: #dc3545;
    --theme-light: #f8f9fa;
    --theme-light-gray: #dee2e6;
    --theme-gray: #6c757d;
    --theme-dark: #212529;
}

div,
input,
select {
    border-radius: .3rem;
}

/* .form-control:focus{
    border-color: var(--theme-danger);
    box-shadow: 0 0 0 0.25rem rgb(220 53 69/25%);
} */

.form-control:focus,
.form-select:focus,
#confirm:active {
    border-color: var(--theme-danger);
    box-shadow: 0 0 0 0.25rem rgb(220 53 69/25%);
}

button,
li label {
    margin: 0 .5rem .5rem 0;
    min-width: 40px;
}

/* #confirm:active {
    border-color: var(--theme-danger);
    box-shadow: 0 0 0 0.25rem rgb(220 53 69/25%);
} */

li label:focus {
    box-shadow: 0 0 0 0.25rem rgb(220 53 69/25%);
}